<div class="container mt-4">
    <!-- <h2>Detalles del Auto</h2>
    <div class="card p-3 mb-4">
      <p><strong>Marca:</strong> {{ carData.brand }}</p>
      <p><strong>Modelo:</strong> {{ carData.model }}</p>
      <p><strong>Año:</strong> {{ carData.year }}</p>
      <p><strong>Serie:</strong> ${{ carData.price | number }}</p>
      <p><strong>Motor:</strong> ${{ carData.price | number }}</p>
      <p><strong>Valor Factura:</strong> ${{ carData.price | number }}</p>
    </div> -->
  
    <!-- <h4>Datos del Cliente</h4>
    <form (ngSubmit)="confirmPurchase()" *ngIf="!purchaseComplete">
      <div class="mb-3">
        <label for="name" class="form-label">Nombre</label>
        <input type="text" id="name" [(ngModel)]="clientData.name" name="name" class="form-control" required />
      </div>
  
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" id="email" [(ngModel)]="clientData.email" name="email" class="form-control" required />
      </div>
  
      <div class="mb-3">
        <label for="phone" class="form-label">Teléfono</label>
        <input type="text" id="phone" [(ngModel)]="clientData.phone" name="phone" class="form-control" required />
      </div>
      <div class="mb-3">
        <label for="phone" class="form-label">RFC</label>
        <input type="text" id="phone" [(ngModel)]="clientData.phone" name="phone" class="form-control" required />
      </div>
  
      <div class="mb-3">
        <label for="address" class="form-label">Dirección</label>
        <input type="text" id="address" [(ngModel)]="clientData.address" name="address" class="form-control" required />
      </div>
      <div class="mb-3">
        <label for="address" class="form-label">Fecha Nacimiento</label>
        <input type="text" id="address" [(ngModel)]="clientData.address" name="address" class="form-control" required />
      </div>

      <div class="mb-3">
        <label for="address" class="form-label">Sexo</label>
        <input type="text" id="address" [(ngModel)]="clientData.address" name="address" class="form-control" required />
      </div>
  
      <button type="submit" class="btn btn-success">Confirmar Compra</button>
    </form> -->
<!--   
    <div *ngIf="purchaseComplete" class="mt-4">
      <h4>Asociación Completa</h4>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Campo</th>
            <th>Información</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Marca del Auto</td>
            <td>{{ carData.brand }}</td>
          </tr>
          <tr>
            <td>Modelo del Auto</td>
            <td>{{ carData.model }}</td>
          </tr>
          <tr>
            <td>Año del Auto</td>
            <td>{{ carData.year }}</td>
          </tr>
          <tr>
            <td>Precio del Auto</td>
            <td>${{ carData.price | number }}</td>
          </tr>
          <tr>
            <td>Nombre del Cliente</td>
            <td>{{ clientData.name }}</td>
          </tr>
          <tr>
            <td>Email del Cliente</td>
            <td>{{ clientData.email }}</td>
          </tr>
          <tr>
            <td>Teléfono del Cliente</td>
            <td>{{ clientData.phone }}</td>
          </tr>
          <tr>
            <td>Dirección del Cliente</td>
            <td>{{ clientData.address }}</td>
          </tr>
        </tbody>
      </table>
    </div> -->
  </div>
  