<!-- app.component.html -->

<ng-container *ngIf="isLoggedIn(); else login">
  <app-header></app-header>
  <div class="content-wrapper">
    <main class="flex-grow-1 p-3">
      <router-outlet></router-outlet> <!-- Cargar vistas del dashboard aquí -->
    </main>
  </div>
</ng-container>

<ng-template #login>
  <div class="content-wrapper">
    <main class="flex-grow-1 p-3">
      <router-outlet></router-outlet> <!-- Mostrar Login aquí -->
    </main>
  </div>
</ng-template>

<!-- Footer siempre visible al final de la pantalla -->
<app-footer></app-footer>
