<ng-container *ngIf="isLoggedIn(); else login">
  <app-header></app-header>
  <div class="dashboard-container">
    <app-sidebar></app-sidebar> <!-- Aquí se incluye el sidebar -->
    <div class="content-area">
      <main>
        <router-outlet></router-outlet> <!-- Este es el espacio para las rutas hijas -->
      </main>
    </div>
  </div>
</ng-container>

<ng-template #login>
  <div>
    <main>
      <router-outlet></router-outlet> <!-- Aquí solo se muestra el contenido para rutas no logueadas -->
    </main>
  </div>
</ng-template>
