

h2 {
    margin-bottom: 20px;
    color: #343a40; /* Color oscuro */
}

.btn-primary {
    background-color: #007bff; /* Color de botón */
    border: none;
}

.btn-primary:disabled {
    background-color: #6c757d; /* Color cuando está deshabilitado */
}

.text-danger {
    font-size: 0.875em; /* Tamaño de fuente para errores */
}

.form-control.is-invalid {
    border-color: #dc3545; /* Color de borde en error */
}
.login-container {
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
