<div class="row mb-4">
  <div class="col-md-4">
    <app-card class="card-custom shadow-sm"></app-card>
  </div>
  <div class="col-md-4">
    <app-card class="card-custom shadow-sm"></app-card>
  </div>
  <div class="col-md-4">
    <app-card class="card-custom shadow-sm"></app-card>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="card p-4 shadow-sm mb-4">
      <h5 class="text-primary mb-3">Tabla de Datos</h5>
      <app-table-user></app-table-user>
    </div>
  </div>
</div>
