<div class="container mt-5">
    <div class="card shadow-lg">
      <div class="card-header text-center">
        <h2 class="text-primary">Compra de Paquete</h2>
      </div>
      <div class="card-body">
        <p class="text-center">
          <strong>Has seleccionado un paquete adicional de:</strong>
        </p>
        <h3 class="text-center text-success">{{ mb }} MB</h3>
        <div class="text-center mt-4">
          <button class="btn btn-primary me-2 mb-2 w-100" (click)="confirmarCompra()">Confirmar Compra</button>
          <button class="btn btn-warn me-2 mb-2 w-100" (click)="Retornar()">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
  